   <div class="wrapper_header_container">
            <div class="header_container">
                
                <div class="left">
                    <div class="logo">
                        <a href="/filmes" class="logo_text">CineGold</a>
                    </div>
                    <div class="redirect_buttons">
                        <a href="/filmes/new">+ Filme</a>
                        <a href="/filmes/new">Editar Filme</a>
                    </div>
                    
                </div>
                <div class="center">
                    
                </div>
                
                <div class="right">
                    
                </div>

            </div>
        </div>
 