   <div class="wrapper_header_container">
            <div class="header_container">
                
                <div class="left">
                     <a href="/filmes/new">+ Filme</a>
                     <a href="/filmes/new">Editar Filme</a>
                    
                </div>
                <div class="center">
                    
                </div>
                
                <div class="right">
                    
                </div>

            </div>
        </div>
 