<!DOCTYPE html> 
<html lang="pt-br">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include ('../partials/header') %>
        
        <main class="container">
            <%- body %>

        </main>

        <script src="/js/scripts.js"></script>
    </body>
</html>