    * {
        box-sizing: border-box;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--terceary-color);
        background-repeat: no-repeat;
        min-height: 100vh;

        overflow-x: hidden;
        overflow-y: auto;
    }

    :root {

        /*Colors Combo*/
        --primary-color: #ffdb89;
        --secondary-color: #1b1b1b;
        --terceary-color: #2c2c2e;
        --quaternary-color: #d4c3ba;
        --quinary-color: rgb(32, 31, 30);
        /*Header*/
        /*Link Buttons*/
        --link-button-border-radius: 10px;
        --link-button-padding: clamp(4px, 3vw, 10px);

        /*Wrapper-Configs*/
        --wrapper-max-width: 2000px;
        --wrapper-padding-content: 20px 40px;
    }




    /*---------*/
    /* Header */
    .wrapper_header_container {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
    }
    
    .header_container {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: clamp(0px, 100vw, var(--wrapper-max-width));
        max-width: 2000px;
        padding: 5px 20px;
        background-color: var(--secondary-color);
        background-color: transparent;
        left: 50%;
        transform: translateX(-50%); /* Ajusta para o centro */
    
    }
    
    /*Header Directions Config*/
    .left,
    .center,
    .right {
        display: flex;
        align-items: center;
        
        flex: 1;
        gap: clamp(6px, 2vw, 30px);
    }
    /*----*/
    /*Left*/
    .logo {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .logo_text{
        border: none !important;
        font-size: clamp(0.7rem, 6vw, 2rem);
        
        cursor: pointer;
        text-decoration: none;
        color: var(--primary-color);
        height: auto;
    }
    
    /* Contêiner dos botões */
    .redirect_buttons {
        display: flex;
        gap: 8px;
        align-items: center;

    }
    
    /* Estilo dos links (botões) */
    .redirect_buttons a {
        margin: 0 auto;
        white-space: nowrap;
        text-decoration: none;
        padding: var(--link-button-padding);
        color: var(--primary-color);
        border: solid 2px var(--primary-color);
        border-radius: var(--link-button-border-radius);
        font-size: clamp(0.5rem, 4vw, 1rem);
        cursor: pointer;
        transition: all 0.05s ease-out;

        display: inline-flex;
        align-items: center;
        
    }
    
    .redirect_buttons a:hover {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }
    
    
    
    
    /*Page wrapper*/
    .wrapper_content_container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        margin: 0 auto;
        width: clamp(0px, 100vw, var(--wrapper-max-width));
        max-width: 2000px;
        gap: 20px;
       
        z-index: 1; /*Não tirar. Pode entrar em conflito com o header*/
        color: var(--quaternary-color);
        padding-top: 50px;
        padding-bottom: 100px;
    }




/*----------------------------------*/
/*ADICIONAR FILME                  */

    /*Form Filme*/
    .form_new_movie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: clamp(300px, 95%, 500px);
        padding: 50px 20px;
        gap: 20px;

        background-color: var(--quinary-color);
        border: none;
        border-radius: 1rem;
        margin-top: 50px;
        z-index: 1;
    }
    .form_title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    
        color: var(--primary-color);
        font-size: clamp(0.8rem, 1vw, 1.2rem);
      && h1{
        font-weight:300;
      }
    }

    .form_group {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%
    }

    .form_group label {
        color: var(--quaternary-color);
        font-size: 1.5rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .form_group textarea{
        font-size: 1rem;
        width: 100%;
        height: 5rem;
        resize: none;
        
        color: var(--quaternary-color);
        background: none;
        outline: none;

        padding: 5px 5px;
        border-radius: 7px;
        border: solid 2px var(--quaternary-color);
        overflow-y: auto;
        transition: all 0.15s ease-out;
    }
    .form_group textarea:focus{
        border: solid 2px var(--primary-color);
    }

    .form_group input {
        font-size: 1rem;
        font-weight: lighter;
        background-color: transparent;
        border: solid 2px var(--quaternary-color);
        color: var(--quaternary-color);
        padding: 5px 5px;
        border-radius: 7px;
        width: 100%;
        transition: all 0.2s ease-out;
        outline: none;

    }

    .form_group input:focus {
        border: solid 2px var(--primary-color);
    }


    /*Generos de filme*/
    .genre-options{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 5px;
        font-size: 0.1rem;
    }
    .form-test{
        width: 100%;
        background-color: red;
    }
    .genre-label{
        position: relative;
        display: flex;
        justify-content:flex-start;
        flex-direction: row-reverse;
        align-items: center;
        width: fit-content;
        white-space: nowrap;
        padding: 8px;
        cursor: pointer;
        overflow: hidden;

        
        & input[type='checkbox']{
            border: none;
            background: none;
            width: 0px;
        }
        & input[type='checkbox']:checked ~ .genre-background-label{
            position: absolute;
            content: '';
            border: solid 2px transparent;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
            left: 0;
            animation: background-label 0.15s ease-in-out forwards;
        }   
    }

   @keyframes background-label {
    0% {
        border-color: transparent;
        background-color: transparent;
    }
    100% {
        border-color: var(--primary-color);
    }
}
    /*Buttons*/
    .form_actions{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & button{
            font-size: 0.9rem;
            padding: 10px 0px;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: none;
            width: 50%;
            height: 100%;
            cursor: pointer;
        }

        & a{
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            text-decoration: none;
            
            padding: 10px 0px;
            background-color: var(--secondary-color);
            color: var(--primary-color);
            border: none;
            width: 50%;
            height: 100%;
        }
    }



    /*Página Inicial dos Filmes*/

   .wrapper_movie_cards_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;

    
}

.movie_card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 100% , 400px);
    height:100%;
    padding: 0px 20px;
    padding-bottom: 15px;

    overflow: hidden;
    background-color: var(--secondary-color);

    border-radius: 5px;
}