*{
    box-sizing: border-box;
    margin: 0;
}





/*---------*/
/* Header */
.header_main_container{
    position: absolute;
    width: 100%;
    padding: 5px 0px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: clamp(0px, 95vw, 2000px);
    max-width: 2000px;
    background-color: red;
}

.left,.center,.right{
    display: flex;
    align-items: center;
    flex: 1;
}